# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Build output
/.next/
/out/

# Local Environment Variables
# ----------------------------------------------------------------
# <<<< สำคัญมาก: ป้องกันไม่ให้ไฟล์ข้อมูลลับรั่วไหล >>>>
# ----------------------------------------------------------------
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Other
.DS_Store
*.pem
.vercel
